matplotlib
numpy
pandas
PySide6
scipy
rich
pyyaml
toml

# my packages
mpPy6
confPy6>=1.3.1
PyADScopeControl>=1.2.4
PySide6WidgetCollection>=1.0.2, # important, otherwise AboutDialog is not available

# Local installs
#../confighandler
#../captdevicecontrol
#../modules/cmp
