name: PyInstaller
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build executable for Python 3.12
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Build executable
        run: |
          pyinstaller src/lasercontrol.spec
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: lasercontrol.exe
          path: dist/lasercontrol.exe
      - name: Build executable scope
        run: |
          pyinstaller src/lasercontrol_scope.spec
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: lasercontrol_scope.exe
          path: dist/lasercontrol_scope.exe
